# ~/.config/mpv/mpv.conf
# Description : Minimal, performance-oriented mpv configuration
# Author      : makmat
# Date        : 2025-12-02
# Version     : 1.0

# ------------------------------
# General settings
# ------------------------------

volume=0
loop-file=inf             # repeat file indefinitely

alang=en,pl               # fallback audio languages
slang=en                  # fallback subtitle language

# ------------------------------
# Video settings
# ------------------------------

autofit-larger=90%x90%    # limit new window size to 90% of screen
profile=fast              # fast profile for low-latency playback
hwdec=auto                # hardware decoding (Intel iGPU)

# ------------------------------
# Audio settings
# ------------------------------

audio-device=alsa/default # minimal overhead, use ALSA

# ------------------------------
# Other settings
# ------------------------------

sub-auto=fuzzy            # enable soft subtitles if available
demuxer-max-bytes=50MiB   # limit demuxer memory usage
demuxer-readahead-secs=5  # reduce readahead to save RAM

# ------------------------------
# Profiles
# ------------------------------

[mp3]
profile-cond=string.match(path, "%.mp3$")
volume=50
